<div class="jumbotron text-center">
  <h1>TeamTailor Import app</h1>
  <p>To add file with candidates jump to Candidates/Import candidates menu or just <%= link_to 'click here', import_candidates_path %> </p>
  <p>To add file with candidates notes jump to Candidates/Import notes menu or just <%= link_to 'click here', import_notes_path %> </p>
</div>
