// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.candidates-list-title{
  margin: 20px 0 20px 0;
}

.candidates-list-header{
  font-weight: 600;
  margin: 0 auto;
  padding: 10px 5px 15px 5px;
}

.candidates-list-items{
  margin: 0 auto;
  padding: 10px 5px 15px 5px;
}
.candidates-notes{
  margin: 5px 20px 5px 20px;
}
